/* 
* ----------------------------------------------------
* General stuff
* ----------------------------------------------------
*/
:root,
.sl-theme-light {
  --sl-color-red-50: #fde6eb;
  --sl-color-red-100: #faccd6;
  --sl-color-red-200: #f599ad;
  --sl-color-red-300: #f06684;
  --sl-color-red-400: #eb335b;
  --sl-color-red-500: #e60032;
  --sl-color-red-600: #b80028;
  --sl-color-red-700: #8a001e;
  --sl-color-red-800: #5c0014;
  --sl-color-red-900: #2e000a;
  --sl-color-red-950: #170005;

  --custom-color-map-bg-rgb-values: 12, 24, 59;

  --sl-color-primary-50: var(--sl-color-red-50);
  --sl-color-primary-100: var(--sl-color-red-100);
  --sl-color-primary-200: var(--sl-color-red-200);
  --sl-color-primary-300: var(--sl-color-red-300);
  --sl-color-primary-400: var(--sl-color-red-300);
  --sl-color-primary-500: var(--sl-color-red-500);
  --sl-color-primary-600: var(--sl-color-red-600);
  --sl-color-primary-700: var(--sl-color-red-700);
  --sl-color-primary-800: var(--sl-color-red-800);
  --sl-color-primary-900: var(--sl-color-red-900);
  --sl-color-primary-950: var(--sl-color-red-950);
}

:not(:defined) {
  visibility: hidden;
}

html {
  font-size: 16px;
  font-family: var(--sl-font-sans);
}

body {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  color: var(--sl-color-neutral-800);
}

/* 
* ----------------------------------------------------
* Map
* ----------------------------------------------------
*/
.map {
  width: 100%;
  height: 100%;
}

.map__wrapper {
  height: 100%;
  width: 100%;
  background-color: rgb(var(--custom-color-map-bg-rgb-values));
}

/* 
* ----------------------------------------------------
* Year filter
* ----------------------------------------------------
*/
.year-filter__wrapper {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 1rem;
  align-items: center;
}

.year-filter__year-label {
  font-family: var(--sl-font-mono);
  font-size: var(--sl-font-size-small);
  letter-spacing: 0.15ch;
  font-weight: 700;
  padding: var(--sl-spacing-x-small) var(--sl-spacing-small);
  background-color: var(--sl-color-primary-600);
  color: var(--sl-color-neutral-0);
  border-radius: var(--sl-border-radius-large);
  border: 1px solid var(--sl-color-neutral-0);
  box-shadow: var(--sl-shadow-large);
}

.year-filter__backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 11rem;
  pointer-events: none;
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(var(--custom-color-map-bg-rgb-values), 1),
    rgba(var(--custom-color-map-bg-rgb-values), 0)
  );
}

/* 
* ----------------------------------------------------
* Sidebar
* ----------------------------------------------------
*/
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 24rem;
  }
}

.sidebar__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 10rem;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .sidebar__backdrop {
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(var(--custom-color-map-bg-rgb-values), 1),
      rgba(var(--custom-color-map-bg-rgb-values), 0)
    );
  }
}

@media screen and (min-width: 768px) {
  .sidebar__backdrop {
    width: 24rem;
    background-image: linear-gradient(
      to right,
      rgba(var(--custom-color-map-bg-rgb-values), 1),
      rgba(var(--custom-color-map-bg-rgb-values), 0)
    );
  }
}

.sidebar__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (max-width: 768px) {
  .sidebar__wrapper {
    padding: var(--sl-spacing-small) var(--sl-spacing-medium);
    row-gap: var(--sl-spacing-medium);
  }
}

@media screen and (min-width: 768px) {
  .sidebar__wrapper {
    padding: var(--sl-spacing-medium) var(--sl-spacing-large);
    row-gap: var(--sl-spacing-large);
  }
}

.sidebar__title {
  font-family: var(--sl-font-serif);
  font-weight: 700;
  color: var(--sl-color-neutral-0);
  margin: 0;
}

@media screen and (max-width: 768px) {
  .sidebar__title {
    font-size: var(--sl-font-size-medium);
  }
}

@media screen and (min-width: 768px) {
  .sidebar__title {
    font-size: var(--sl-font-size-2x-large);
  }
}

/* 
* ----------------------------------------------------
* Viz
* ----------------------------------------------------
*/
.viz {
  background-color: var(--sl-color-neutral-0);
  padding: var(--sl-spacing-large) var(--sl-spacing-medium);
  border-radius: var(--sl-border-radius-medium);
  font-family: var(--sl-font-serif);
}

.viz__figure {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .viz__figcaption {
    font-size: var(--sl-font-size-small);
  }
}

@media screen and (min-width: 768px) {
  .viz__figcaption {
    font-size: inherit;
  }
}

.viz__figure-content {
  width: 100%;
  padding: 0;
  margin-top: var(--sl-spacing-medium);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--sl-spacing-small);
}

.viz__figure-content {
  border-left: 1px solid var(--sl-color-primary-500);
}

.viz__label-wrapper {
  padding-left: var(--sl-spacing-x-small);
  display: grid;
  grid-template-columns: 1fr minmax(auto 6ch);
  column-gap: var(--sl-spacing-small);
  row-gap: var(--sl-spacing-x-small);
  align-items: baseline;
  color: var(--sl-color-primary-500);
}

.viz__branch-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .viz__branch-label {
    font-size: var(--sl-font-size-small);
  }
}

@media screen and (min-width: 768px) {
  .viz__branch-label {
    font-size: inherit;
  }
}

.viz__occurences-label {
  font-family: var(--sl-font-mono);
  font-size: var(--sl-font-size-small);
  text-align: right;
}

.viz__bar {
  grid-column: span 2;

  background-color: var(--sl-color-primary-500);
}

@media screen and (max-width: 768px) {
  .viz__bar {
    height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .viz__bar {
    height: 32px;
  }
}
